@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mainGrey: #eaeaea;
  --mainGreyDark: #d6d6d6;
  --mainWhite: #fdfdfd;
  --offWhite: #f6efeb;
  --mainBlack: #3f3f3f;
  --darkGrey: #8e8e8e;
  --lightBlue: #759FBC;
  --darkBlue: #3772FF;
  --darkerBlue: #302c43;
  --lightGreen: #62bddb;
  --redBrown: #805c77;

}

body {
  background: var(--mainWhite);
  font-size: 1.5rem;
  font-family: 'Cardo', serif;
  text-align: left;
}

text {
  fill: var(--darkGrey);
}

tspan {
  background: var(--mainWhite);
  font-size: 1rem;
  font-family: "Cardo", serif;
  text-align: left;
}

span {
  font: 14px/24px "Cardo", serif;
  line-height: 1.7em;
  letter-spacing: .025em;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: "helvetica neue", helvetica, arial, geneva, sans-serif;
  font-weight:500;
  padding-bottom: 2rem;
}

h2 {
  font-family: "helvetica neue", helvetica, arial, geneva, sans-serif;
  font-size: 1.6rem;
  letter-spacing: .05em;
  font-weight: 450;
  margin: 2.5rem 0 1.5rem 0;
}

h3 {
  font-family: "helvetica neue", helvetica, arial, geneva, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: .05em;
  margin: 2rem 0 1rem 0;
}

h4 {
  font-family: "helvetica neue", helvetica, arial, geneva, sans-serif;
  font-weight: 500;
}

p {
  font: 18px/24px "Cardo", serif;
  line-height: 1.7em;
  letter-spacing: .01em;
  -webkit-font-smoothing: antialiased;
  margin: 1.2rem 0;
}

figcaption {
  font: 12px/24px "calluna", sans-serif;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--darkGrey);
}

ol {
  font: 18px/24px "Cardo", serif;
  line-height: 1.7em;
  letter-spacing: .01em;
  -webkit-font-smoothing: antialiased;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
}

ul {
  font: 18px/24px "Cardo", serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7em;
  letter-spacing: .01em;
  -webkit-font-smoothing: antialiased;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
}

li {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

li > p {
  margin-bottom: 0rem;
}

a {
  color: var(--darkerBlue);
}

a:hover {
  color: var(--darkBlue);
}

table, th, td {
  border: 1px solid black;
  background: var(--mainWhite);
  font-size: 1.2rem;
  font-family: "Cardo", serif;
  text-align: center;
  border-collapse: collapse;
  padding: .5rem;
}

blockquote {
  margin: 1rem 0;
  padding: 1rem 2rem 1rem 2rem;
  border-left: 5px solid var(--darkBlue);
  background-color: var(--mainGrey);
  border-radius: 15px;
  margin: 2rem 0 2rem 0;
}

blockquote > blockquote {
  margin: 1rem 0;
  border-left: 5px solid var(--darkerBlue);
  background-color: var(--mainGreyDark);
}

.about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.intro {
  color: var(--mainBlack);
  text-decoration: none;
  font-family: "Cardo", serif;
  font-weight: 200 !important;
  font-style: normal;
  font-size: 40px;
  letter-spacing: .03em;
  line-height: 1.4em;
  text-transform: none;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

recharts-wrapper {
  padding-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .intro {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}

.code {
  background-color: var(--mainGrey);
  display: inline-block;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--mainWhite);
  margin: 2rem 0;
}

.counter {
  color: green;
  margin: 3rem;
  text-transform: capitalize;
}

.post-image span {
  display: block;
  max-width: 100%!important;
  margin: 2rem;
}

.project-image {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

/**
 * tooltiptext Styles
 */

 .tooltip {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted var(--darkBlue);
  text-align:left;
}

.tooltip .top {
  min-width:400px;
  max-width:600px;
  top:-20px;
  left:50%;
  transform:translate(-30%,-100%);
  padding:10px 20px;
  color:var(--mainWhite);
  background-color: var(--darkBlue);
  font-weight:normal;
  font-size:10px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;
}

.tooltip:hover .top {
  display:block;
}

.tooltip .top i {
  position:absolute;
  top:100%;
  left:30%;
  margin-left:-15px;
  width:30px;
  height:15px;
  overflow:hidden;
}

.tooltip .top i::after {
  content:'';
  position:absolute;
  width:15px;
  height:15px;
  left:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  background-color: var(--darkBlue);
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}




/* default Globals
 --------------------------------------------------------------- */

.row {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

.post-image {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 1
}

.padding-bottom {
  padding-bottom: 2rem;
}
/* fixed width for IE8 */

.ie .row {
  width: 1000px;
}

.narrow .row {
  max-width: 980px;
}

.row .row {
  width: auto;
  max-width: none;
  margin: 0 -20px;
}

/* row clearing */

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.column, .columns {
  position: relative;
  padding: 0 20px;
  min-height: 1px;
  float: left;
}

.column.centered, .columns.centered {
  float: none;
  margin: 0 auto;
}

/* removed gutters */

.row.collapsed>.column, .row.collapsed>.columns, .column.collapsed, .columns.collapsed {
  padding: 0;
}

[class*="column"]+[class*="column"]:last-child {
  float: right;
}

[class*="column"]+[class*="column"].end {
  float: right;
}

/* column widths */

.row .one {
  width: 8.33333%;
}

.row .two {
  width: 16.66667%;
}

.row .three {
  width: 25%;
}

.row .four {
  width: 33.33333%;
}

.row .five {
  width: 41.66667%;
}

.row .six {
  width: 50%;
}

.row .seven {
  width: 58.33333%;
}

.row .eight {
  width: 66.66667%;
}

.row .nine {
  width: 75%;
}

.row .ten {
  width: 83.33333%;
}

.row .eleven {
  width: 91.66667%;
}

.row .twelve {
  width: 100%;
}

/* Offsets */

.row .offset-1 {
  margin-left: 8.33333%;
}

.row .offset-2 {
  margin-left: 16.66667%;
}

.row .offset-3 {
  margin-left: 25%;
}

.row .offset-4 {
  margin-left: 33.33333%;
}

.row .offset-5 {
  margin-left: 41.66667%;
}

.row .offset-6 {
  margin-left: 50%;
}

.row .offset-7 {
  margin-left: 58.33333%;
}

.row .offset-8 {
  margin-left: 66.66667%;
}

.row .offset-9 {
  margin-left: 75%;
}

.row .offset-10 {
  margin-left: 83.33333%;
}

.row .offset-11 {
  margin-left: 91.66667%;
}

/* Push/Pull */

.row .push-1 {
  left: 8.33333%;
}

.row .pull-1 {
  right: 8.33333%;
}

.row .push-2 {
  left: 16.66667%;
}

.row .pull-2 {
  right: 16.66667%;
}

.row .push-3 {
  left: 25%;
}

.row .pull-3 {
  right: 25%;
}

.row .push-4 {
  left: 33.33333%;
}

.row .pull-4 {
  right: 33.33333%;
}

.row .push-5 {
  left: 41.66667%;
}

.row .pull-5 {
  right: 41.66667%;
}

.row .push-6 {
  left: 50%;
}

.row .pull-6 {
  right: 50%;
}

.row .push-7 {
  left: 58.33333%;
}

.row .pull-7 {
  right: 58.33333%;
}

.row .push-8 {
  left: 66.66667%;
}

.row .pull-8 {
  right: 66.66667%;
}

.row .push-9 {
  left: 75%;
}

.row .pull-9 {
  right: 75%;
}

.row .push-10 {
  left: 83.33333%;
}

.row .pull-10 {
  right: 83.33333%;
}

.row .push-11 {
  left: 91.66667%;
}

.row .pull-11 {
  right: 91.66667%;
}

/* block grids
 --------------------------------------------------------------------- */

.bgrid-sixths [class*="column"] {
  width: 16.66667%;
}

.bgrid-quarters [class*="column"] {
  width: 25%;
}

.bgrid-thirds [class*="column"] {
  width: 33.33333%;
}

.bgrid-halves [class*="column"] {
  width: 50%;
}

[class*="bgrid"] [class*="column"]+[class*="column"]:last-child {
  float: left;
}

/* Left clearing for block grid columns - columns that changes width in
 different screen sizes. Allows columns with different heights to align
 properly.
 --------------------------------------------------------------------- */

.first {
  clear: left;
}

/* first column in default screen */

.s-first {
  clear: none;
}

/* first column in smaller screens */

/* smaller screens
 --------------------------------------------------------------- */

@media only screen and (max-width: 900px) {
  /* block grids on small screens */
  .s-bgrid-sixths [class*="column"] {
    width: 16.66667%;
  }
  .s-bgrid-quarters [class*="column"] {
    width: 25%;
  }
  .s-bgrid-thirds [class*="column"] {
    width: 33.33333%;
  }
  .s-bgrid-halves [class*="column"] {
    width: 50%;
  }
  /* block grids left clearing */
  .first {
    clear: none;
  }
  .s-first {
    clear: left;
  }
}

/* mobile wide/smaller tablets
 --------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
  .row {
    max-width: 460px !important;
    margin: 0 auto;
    padding: 0;
  }
  .column, .columns {
    width: auto !important;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0 30px;
  }
  .row .row {
    width: auto;
    max-width: 460px !important;
    margin: 0 -30px;
  }
  [class*="column"]+[class*="column"]:last-child {
    float: none;
  }
  [class*="bgrid"] [class*="column"]+[class*="column"]:last-child {
    float: none;
  }
  /* Offsets */
  .row .offset-1 {
    margin-left: 0%;
  }
  .row .offset-2 {
    margin-left: 0%;
  }
  .row .offset-3 {
    margin-left: 0%;
  }
  .row .offset-4 {
    margin-left: 0%;
  }
  .row .offset-5 {
    margin-left: 0%;
  }
  .row .offset-6 {
    margin-left: 0%;
  }
  .row .offset-7 {
    margin-left: 0%;
  }
  .row .offset-8 {
    margin-left: 0%;
  }
  .row .offset-9 {
    margin-left: 0%;
  }
  .row .offset-10 {
    margin-left: 0%;
  }
  .row .offset-11 {
    margin-left: 0%;
  }
}

/* mobile narrow
 --------------------------------------------------------------- */

@media only screen and (max-width: 400px) {
  .row {
    max-width: 300px !important;
  }
}

/* larger screens
 --------------------------------------------------------------- */

@media screen and (min-width: 1200px) {
  .wide .row {
    max-width: 1180px;
  }
}

/* ------------------------------------------------------------------ */

/* e. Others
 /* ------------------------------------------------------------------ */

/*  1. Clearing
     (http://nicolasgallagher.com/micro-clearfix-hack/
 --------------------------------------------------------------------- */

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/*  2. Misc -------------------------------------------------------- */

.remove-bottom {
  margin-bottom: 0 !important;
}

.half-bottom {
  margin-bottom: 12px !important;
}

.add-bottom {
  margin-bottom: 24px !important;
}

.no-border {
  border: none;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.align-center {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}

/* CSS for contact form */

input[type=text], input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

label {
  color: var(--mainWhite);
}
@media only screen and (max-width: 600px) {
  input[type=text], input[type=email] {
    width: 200%;
  }
  .info li {
    font-size: 1rem;
    border-right: none;
  }
}
