@import url("https://fonts.googleapis.com/css?family=Raleway:700&display=swap");

.header {
  margin-bottom: 1.45rem;
  text-align: center;
  position: relative;
}

.list {
  margin: 0 auto;
  max-width: 960;
  padding: 1.45rem 1.0875rem;
  display: inline-block;
  justify-items: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}

.icon {
  max-height: 2.5rem;
}

.center {
  text-align: center;
}

.items {
  color: var(--darkGrey);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "termina", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 0.2em;
  line-height: 1em;
}

.items:hover {
  color: var(--mainBlack);
}

.active {
  color: var(--mainBlack);
}

.smallMenu > div > ul {
  display: block;
}

.smallMenu > div > ul  > li {
    padding: .5rem !important;
    list-style-type: none;
}

.largeMenu > ul {
  display: flex;
  flex: 1;
}

.largeMenu > ul > li {
    list-style-type: none;
    padding: 1rem;
    padding-left: 2.5rem;
  }

.footer {
  margin-top: 4rem;
}

.footerImage {
  background-image: url("../images/chamonix.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  height: 15rem;
  max-width: 100%;
  overflow: hidden;
  z-index: 100;
}