@import url("https://fonts.googleapis.com/css?family=Raleway:700&display=swap");
.guitars {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* transform: rotate(180deg); */
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-top: 4rem;
  /* transform: rotate(0deg); */
}

.intro {
  color: var(--mainBlack);
  text-decoration: none;
  font-family: leitura-news;
  font-weight: 300;
  font-style: normal;
  font-size: 56px;
  letter-spacing: 0em;
  line-height: 1.4em;
  text-transform: none;
  text-align: center;
  padding-top: 5rem;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:4rem;
}

/* Styling for instagram embed frames */
.body > p > code > iframe {
  background: white; 
  width: 800px; 
  border-radius: 3px; 
  border: 1px solid #dbdbdb; 
  box-shadow: none; 
  display: block; 
  margin: 0px 0px 12px; 
  padding: 0px;
  height: 500px;
}

/* Mobile optimization for instagram/youtube embed frames */
@media only screen and (max-width: 600px) {
  .body > div > iframe {
    width: 300px !important;
    height: 220px !important;
  }
  .body > p > code > iframe {
    width: 300px !important;
    height: 220px !important;
  }  
}

/* Small screen optimization for instagram/Youtube embed frames */
@media only screen and (max-width: 900px) {
  .body > div > iframe {
    width: 600px;
    height: 390px;
  }
  .body > p > code > iframe {
    width: 600px;
    height: 390px;
  }
}

.subtitle {
  color: var(--mainBlack);
  text-decoration: none;
  font-family: leitura-news;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0em;
  line-height: 1.4em;
  text-transform: none;
  text-align: center;
  padding-bottom: 2rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.icon {
  margin: 0 0.5rem 0 0;
}
