.card {
  margin-bottom: 2rem;
  background: var(--mainWhite);
  padding: 1rem;
  text-align: center;
  box-shadow: 0.1rem 0.3rem 1.5rem 0.2rem var(--mainGrey);
}

.info {
  padding: 1rem 0;
}

.info h2 {
  font-size: 30px;
  text-transform: capitalize;
  font: 28px/24px;
  font-weight: 600;
  padding-bottom: .5rem;
  display: inline-block;
}

.info h6 {
  color: var(--darkGrey);
  text-transform: capitalize;
  font: 14px/24px "calluna", sans-serif;
}

.info p {
  padding-top: 1rem;
  text-align: center;
  font: 18px/24px "calluna", sans-serif;
}

.link {
  padding: .5rem .6rem;
  display: inline-block;
  color: var(--mainWhite);
  text-decoration: none;
  transition:800ms ease all;
  font: .7rem "leitura-news", sans-serif;
  font-weight: 500;
  /* box-shadow: 0.2rem 0.2rem 0.3rem 0.1rem var(--darkGrey); */
  /* border: 1px solid var(--mainBlack); */
  justify-content: center;
  background-color: var(--mainBlack);
  box-shadow: 2px 2px 2px var(--darkGrey);
  cursor:pointer;
  letter-spacing: 1.5px;
}
.link{
  background: var(--mainBlack);
  color: var(--mainWhite);
  border:none;
  position:relative;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.link:hover{
  background:var(--darkBlue);
  color: var(--mainWhite);
}
.link:before,.link:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: var(--darkBlue);
  transition:400ms ease all;
}
.link:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.link:hover:before,.link:hover:after{
  width:100%;
  transition:800ms ease all;
}

@media screen and (min-width: 776px) {
  .card {
    display: grid;
    grid-template-columns: 350px 1fr;
  }
  .info {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
  }
}