.card {
  margin-bottom: 2rem;
  background: var(--mainWhite);
  padding: 1rem;
  text-align: center;
  box-shadow: .4rem .9rem 1.5rem .3rem var(--darkGrey);
  border-radius: 15px;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transform: translateZ(0);
  transition-property: transform;
}

.card:hover,
.card:focus,
.card:active {
    transform: scale(1.05);
}


.info {
  padding: 1rem 0;
  display: inline-block;
}

.info h2 {
  text-transform: capitalize;
  font: 24px/20px;
  font-weight: 600;
  padding-bottom: .5rem;
  display: inline-block;
  line-height: 2rem;
  font-family: "baskerville-urw", serif;
}

.info h6 {
  color: var(--darkGrey);
  padding-top: .5rem;
  text-align: center;
  font: 18px/24px "baskerville-urw", serif;
}


.info p {
  padding-top: .5rem;
  text-align: center;
  font: 18px/24px "baskerville-urw", serif;
}

/* Hacky way to align all buttons */
.info > div {
  width: 336px;
}

.cardLink {
  text-decoration: none;
}


.link {
  padding: .5rem .6rem;
  display: inline-block;
  color: var(--mainWhite);
  text-decoration: none;
  transition:800ms ease all;
  font: .7rem "leitura-news", sans-serif;
  font-weight: 500;
  /* box-shadow: 0.2rem 0.2rem 0.3rem 0.1rem var(--darkGrey); */
  /* border: 1px solid var(--mainBlack); */
  justify-content: center;
  background-color: var(--mainBlack);
  cursor:pointer;
  letter-spacing: 1.5px;
  margin-bottom: 1rem !important;
}
.link{
  background: var(--mainBlack);
  color: var(--mainWhite);
  border:none;
  position:relative;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.link:hover{
  background:var(--darkBlue);
  color: var(--mainWhite);
}
.link:before,.link:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: var(--darkBlue);
  transition:400ms ease all;
}
.link:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.link:hover:before,.link:hover:after{
  width:100%;
  transition:800ms ease all;
}

.image > div > div {
  padding-bottom: 71.3542% !important;
}

.image > div > picture > img {
  border-radius: 10px;
}

@media screen and (min-width: 882px) {
  .card {
    display: grid;
    grid-template-columns: 350px 1fr;
  }
  .info {
    display: flex;
    align-items: center;
    padding: 0 0 0 1.75rem;
  }
}

@media screen and (max-width: 435px) {
  .info {
    display: flex;
    align-items: center;
  }
}