.portfolio {
  overflow: hidden;
  position: relative;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* padding-top: 3rem;
  padding-bottom: 3rem; */
}

.container {
  position: relative;
  margin-bottom: 5rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--mainBlack);
}

.container:hover .overlay {
  opacity: 0.95;
}

.text {
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 35rem;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: termina;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.3em;
  letter-spacing: 0.2em;
}


.subtext {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: termina;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 1.3em;
  letter-spacing: 0.05em;
}


@media only screen and (max-width: 900px) {
  .text {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    width: 20rem;
  }
  .subtext {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 1rem;
    padding-bottom: 1rem;
    width: 15rem;
  }
  .subtext {
    font-size: .7rem;
  }
}